{% extends '__autoindex__/autoindex.html' %}

{% block meta %}
  {{ super() }}
  <link rel="stylesheet"
    href="{{ url_for('static', filename='myautoindex.css') }}" />
{% endblock %}

{% block header %}
  <div style="width: 800px; margin: 30px auto; background-color:lightblue">
    <table border=none>
      <tr>
        <td width="200px"> <img src="static/dnvgl.png" width="200px" /> </td>
	<td>
          <h2>DNV GL Maritime Contingency Application</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</td>
      </tr>
    </table>
{% endblock %}

{% block footer %}
  </div>
{% endblock %}
